<section class="shopapp">
  <header class="header">
    <h1>Shopping List</h1>
    <form id="new-form">
      <input type="text" class="new-item" placeholder="Add a new item">
    </form>
  </header>

  <section class="main">
    <ul class="shopping-list">

    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Melsen Carlsburg", "http://github.com/melsenc" %>
</section>