<section class="shopapp">
  <header class="header">
    <h1>Shopping List</h1>
    <form id="new-form">
      <input type="text" class="new-item">
    </form>
  </header>

  <section class="main">
    <ul class="shopping-list">

    </ul>
  </section>
</section>
