<section class="shopapp">
  <header class="header">
    <h1>Shopping List</h1>
  </header>

  <section class="main">
    <ul class="shopping-list">

    </ul>
  </section>
</section>

<script>
  $(function() {
    function itemHtml(item) {
        var checkedStatus = item.done ? "checked" : "";
        var liElement = '<li><div class="view"><input class="toggle" type="checkbox"' + 
          " data-id='" + item.id + "'" +
          checkedStatus +
          '><label>' +
          item.title +
          '</label></div></li>';
        return liElement;
    }

    function toggleItem(e) {
      var itemId = $(e.target).data("id");
      
      var doneValue = Boolean($(e.target).is(':checked'));
      
      $.post("/items/" + itemId, {
        _method: "PUT",
        item: {
          done: doneValue
        }
      });
    }

    $.get("/items").success( function(data) {
      var htmlString = "";

      $.each(data, function(index, item){
        htmlString += itemHtml(item);
      });
      var ulItems = $('.shopping-list');
      ulItems.html(htmlString);

      $('.toggle').change(toggleItem);
    });
  });
</script>
